:root{
    /* Color */
    --blue_color: #097ef6;
    --dark_blue_color: #0f146d;
    --orange_color: #e43603;
    --green_color: #30dd8a;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    
    --first-color: hsl(142, 69%, 61%);
    --first-color-alt: hsl(142, 57%, 53%);
    --first-color-lighten: hsl(142, 92%, 85%);
    --title-color: hsl(142, 8%, 15%);
    --text-color: hsl(142, 8%, 45%);
    --text-color-light: hsl(142, 8%, 65%);
    --input-color: hsl(142, 70%, 96%);
}

/* Reset CSS */
html { 
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}
  
h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: 600;
}
  
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
  
a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

input {
    all: unset;
}

/* Buttons  */
.btn-s-size {
    min-width: 100px;
    font-size: 1.4rem;
    padding: 16px 0;
    border-radius: 30px;
}

.btn-m-size {

}

.btn-l-size {
    min-width: 190px;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 24px 0;
    border-radius: 50px;
}

.btn-hover {
    color: #fff;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
    background-image: linear-gradient(
        to right,
        #25aae1,
        #4481eb,
        #04befe,
        #3f86ed
        );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover.color-2 {
    background-image: linear-gradient(
        to right,
        #ff8c00eb,
        #e43603,
        #fa7199,
        #e85a19
        );
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-hover.color-1 {
    background-image: linear-gradient(
        to right,
        #c1e241,
        #40e495,
        #30dd8a,
        #2bb673
        );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-m-size {

}

.btn-l-size {
    min-width: 190px;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 24px 0;
    border-radius: 50px;
}

.btn-hover {
    color: #fff;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
    background-image: linear-gradient(
        to right,
        #25aae1,
        #4481eb,
        #04befe,
        #3f86ed
        );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover.color-2 {
    background-image: linear-gradient(
        to right,
        #ff8c00eb,
        #e43603,
        #fa7199,
        #e85a19
        );
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-hover.color-1 {
    background-image: linear-gradient(
        to right,
        #c1e241,
        #40e495,
        #30dd8a,
        #2bb673
        );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}


.cursor {
    display: inline-block;
    width: 2px;
    background-color: #ccc;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

.cursor {
    display: inline-block;
    width: 2px;
    background-color: #ccc;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

/* Keyframes */

@keyframes fadeInLeft {
    from {
        opacity: .5;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    } 
}

@keyframes blink {
    0% {background-color: #ccc}
    49% {background-color: #ccc}
    50% {background-color: transparent}
    99% {background-color: transparent}
    100% {background-color: #ccc}
}