/* Header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 170px 8px 200px;
    box-shadow: 0 8px 4px rgb(119 217 255 / 20%);
    background-color: white;
}

nav {
}

.brand {
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand__logo {
    width: 46px;
    height: 100%;
    object-fit: cover;
}

.brand__text {
    font-size: 2rem;
    margin-left: 16px;
    color: var(--dark_blue_color);
    font-weight: 600;
}

.nav_pc_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_pc_item__link {
    padding: 20px 30px;
    font-size: 2rem;
}

.nav_pc_item__link {
    color: var(--dark_blue_color);
    font-weight: 600;
}

.nav_pc_item__link:hover,
.nav_pc_item__profile:hover {
    opacity: 0.7;
}

.nav_pc_item__profile {
    padding: 20px 30px;
}

.nav_pc_item__profile img {
    width: 35px;
}

/* Main content */
.homepage_content {
    display: flex;
    justify-content: space-between;
    margin: 140px 190px;
    align-items: center
}

.homepage_content__intro {
    width: 46%;
    text-align: center;
}

.homepage_content__intro p {
    font-size: 2rem;
    font-weight: 500;
    color: var(--dark_blue_color);
}

.dynamic_txt {
    color: var(--orange_color);
}

.homepage_content__intro h2 {
    font-size: 3.6rem;
    width: 100%;
    color: #265edb;
}

.homepage_content__user_roles {
    display: flex;
    justify-content: space-between;
}

.brand__text {
    font-size: 2rem;
    margin-left: 16px;
    color: var(--dark_blue_color);
    font-weight: 600;
}

.nav_pc_container {
    display: flex;
    justify-content: flex-end;
}

.nav_pc_item__link {
    padding: 20px 30px;
    font-size: 2rem;
}

.nav_pc_item__link {
    color: var(--dark_blue_color);
    font-weight: 600;
}

.nav_pc_item__link:hover {
    opacity: 0.7;
}

/* Main content */
.homepage_content {
    display: flex;
    justify-content: space-between;
    margin: 140px 190px;
    align-items: center
}

.homepage_content__intro {
    width: 46%;
    text-align: center;
}

.homepage_content__intro p {
    font-size: 2rem;
    font-weight: 500;
    color: var(--dark_blue_color);
}

.dynamic_txt {
    color: var(--orange_color);
}

.homepage_content__intro h2 {
    font-size: 3.6rem;
    width: 100%;
    color: #265edb;
}

.homepage_content__user_roles {
    display: flex;
    justify-content: space-between;

}

.homepage_content__user_roles a {
    font-size: 2.2rem;
    padding: 20px 30px;
    border-radius: 50px;
    width: 30%;
    display: inline-block;
    font-weight: 600;
}

.homepage_content__socials {

}

.homepage_content__socials a i {
    font-size: 2.4rem;
    color: gray;
    padding: 30px 20px 16px;
}

.homepage_content__socials a i:hover {
    opacity: 0.7;
}

.homepage_content__img {
    position: relative;
    width: 48%;
    height: 45vh;
}

.homepage_content__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.homepage_content__img img:nth-child(2) {
    position: absolute;
    top: 30px;
    z-index: 2;
    left: 10%;
}

/*  */
#login_form {
    margin: 0 16%;
    /* flex-direction: column; */
}

.login_form_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.login_form_field__label {
    text-align: initial;
    font-size: 1.5rem;
    font-weight: 600;
    width: 34%;
}

.login_form_field__input {
    width: 66%;
}

.login_form_field__message {
    margin-left: 34%;
    font-size: 1.3rem;
    color: red;
}

input[type="submit"] {
    padding: 8px 0;
    font-size: 1.6rem;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 0;
}

.homepage_content__user_roles a {
    font-size: 2.2rem;
    padding: 20px 30px;
    border-radius: 50px;
    width: 30%;
    display: inline-block;
    font-weight: 600;
}

.homepage_content__socials {

}

.homepage_content__socials a i {
    font-size: 2.4rem;
    color: gray;
    padding: 30px 20px 16px;
}

.homepage_content__socials a i:hover {
    opacity: 0.7;
}

.homepage_content__img {
    position: relative;
    width: 48%;
    height: 45vh;
}

.homepage_content__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.homepage_content__img img:nth-child(2) {
    position: absolute;
    top: 30px;
    z-index: 2;
    left: 10%;
}

input[type="text"],
input[type="password"] {
    padding: 8px 20px;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 2px;
}

 .no_product {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
 }