.avatar {
    vertical-align: middle;
    width: 3.125em;
    height: 3.125em;
    border-radius: 50%;
  }

.shipper__icon{
  width: 3em;
  height: 3em;
  border-radius: 50%;
  align-items: center;
}

.shipper_sidebar {
  height: 100%;
  width: 5%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 20px;
}

.shipper_content {
  /* width:80%; */
  margin-left: 5%;
}

.shipper__profile {
  width:100%;
}